.nav {
  display: flex;
  justify-content: space-between;

  margin: 0 0 30px;
  background-color: #0f3c5c;
}

/* .nav a {
  text-decoration: none;
} */

.nav-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("../../../public/HH_Logo.png") no-repeat;
  background-position: 10px center;
  background-size: auto 100%; /* This will scale the height to 100% of the element and adjust the width automatically */
  width: 390px;
  height: 80px;
}
.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}
